@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color:white;
  transition: all .4s ease;
}
.logo-img img{
  width: auto;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
/* Navbar Menu Links */
.nav-menu-links ul li {
  list-style: none;
}

.nav-menu-links ul li a {
  text-decoration: none;
  color: #292524;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.4s ease;
}

.nav-menu-links ul li a:hover {
    color:#FBBF24;
}

/* Nav Button  */
.btn-order {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #FBBF24; 
  padding: 15px 35px;
  border-radius: 5px;
  color: rgb(70, 77, 101);
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-order::before {
  position: absolute;
  content: "";
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #FBBF24; 
  transition: 0.4s ease; 
}

.btn-order:hover::before {
  top: 0;
}

.btn-order:hover {
  color: white;
} 

/* Hero Section */
.hero-section{
  padding-top: 90px;
  width: 100%;
}
.hero-img img{
 width: 100%;
  height: auto;
  min-height: 550px;
  display: block;
  object-fit: cover;
  object-position:center;
}


/* about section */
.about-section{
padding: 200px 0px;
background-color: #ffff;

}
.about-img img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.about-subtitle{
  color: #FBBF24;
  font-weight: 500;
}
.about-content h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size:30 !important;

}
.about-content .about-info{
  margin-bottom: 30px;
}
.about-item{
  font-size: 14px;
 
}



/* menu section */


.menu-section {
    background-color:   #FFF8E7;
    padding-top: 90px;
    padding-bottom: 0; 
    text-align: center;
    overflow-x: hidden; 
}

.menu h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 48px;
    max-width: 650px;
}

.menu ul li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding: 6px 18px; 
  
    transition: 0.4s ease; 
}

.menu ul li:hover {
    background-color: #FBBF24;
    color: white;
}

.menu-img {
    width: 100%;
    height:auto; 
  display: block;
    padding: 0 !important;
    margin: 0 !important;
    transition: .4s ease;
    object-fit:cover;
}
.gallery-small{
    height: 300px;
    margin: 0;
    padding: 0;
}
.gallery-big{
    height: 600px;
}
.food-card{
  position: relative;
  overflow: hidden;
}
.food-overlay{
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.65);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    opacity:0;
    transition:.4s ease;
}
.food-card:hover .food-overlay{
    opacity:1;
}


.menu-img .food-card:hover {
  transform:scale(1.05);
    filter:brightness(50%);}
    .food-overlay span{
    color:#FBBF24;
    font-size:30px;
    font-weight:700;
}

.food-overlay h4{
    color:white;
    margin:15px 0;
}

.food-overlay button{
    background:#FBBF24;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius: 5px;
      position: relative;
  overflow: hidden;
  z-index: 1;
}
.food-overlay button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #c79a29; 
  transition: .4s;
  z-index: -1;
}

.food-overlay button:hover::before {
  left: 0;
}

/* contact us */
.contact{
  width: 100%;
  height: 100%;
  display: flex ;
  align-items: center;
  gap: 20px;
  padding-top: 200px;
  padding-bottom: 300px;
}
form h1{
  font-family: "Josefin Sans", sans-serif;
}
form input ,textarea ,button{
  padding: 10px 20px;
  border-radius: 10px;

 
}
form input{
  width: 45%;
}










/* services section */
.service-section {
       background-color:   white; 
    padding: 150px 0;
    
}

.service-section h1  {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 50px;
    font-family: "Josefin Sans", sans-serif;
    /* max-width: 500px; */
}

.service-card:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    background-color: white !important;
    
}

/* review section */
.review-section{
  background-color:#FFF8E7 ;
  padding: 150px 0;

}
.review-card{
      background:#FFF8E7;
    border-radius:15px;
    overflow:hidden;
   padding: 10px;
}
.review-img{
    width:100%;
    height:auto;
    display:block;
    border-radius:10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color:#FBBF24;
    border-radius:50%;
    padding:20px;
}


/* footer */
.simple-footer{
    background-color:#FFF8E7;
    border-top:1px solid #FBBF24;
    padding:25px 0;
}

.simple-footer p{
    margin:0;
    color:#444;
}

.simple-footer span{
    color:#FBBF24;
    font-weight:600;
}

/* choose-section */
.choose-section{
  background-color: #FFF8E7;
  padding: 150px 0;
}




/* --- Media Queries  --- */

@media (max-width: 992px) {
.nav-menu-links.collapse.show {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 20px !important;
  
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    z-index: 999;
  }

  .nav-menu-links ul {
    
    align-items: flex-start !important;
    gap: 15px !important;
    width: 100%;
  }

  .nav-menu-links .btn-order {
    width: 100%;
    text-align: center;
  }

  
 .hero-img img {
    min-height: 450px; 
    object-position: 65% center; 
  }
  .about-section{
padding: 150px 0px;
}
 
  .about-content h1{
    font-size: 25px;
}
.about-content{
margin-top: 50px;
}
}


@media (max-width: 768px) {
   .hero-img img {
    min-height: 380px; 
    object-position: 70% center; 
  }
  .about-section{
padding: 150px 0px;
}
.about-img img{
 
  height: 350px;

}
.about-content h1 {
    font-size: 30px;
    font-weight: 600;
}
.about-content .about-info{
  font-size: 18px;
}
 .footer-heading {
    margin-bottom: 18px;
  }
  .insta-feed-grid img {
    height: 90px; /* Better preview ratio for mobile viewports */
  }



}

@media (max-width: 576px) {
 .hero-img img {
    min-height: 280px; 
    object-position: 73% center; 
  }
 
 
  .about-section{
padding: 120px 0px;
margin: 0;
}
.about-img img{

  height: 280px;
 
}
.about-content{
  margin: 0;
}
.about-content h1{
  font-size: 28px;
}
.about-content .about-info{
  font-size: 14px;
    line-height: 1.5;

}
.about-content p{
  font-size: 12px;
}

}